@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 110vh;
  overflow-y: hidden;
  font-family: "Montserrat", sans-serif;
  background: rgb(61, 231, 229);
  background: linear-gradient(
    0deg,
    rgb(55, 187, 185) 30%,
    rgb(118, 0, 253) 100%
  );
  color: white;
}

.main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
  /* height: 100%; */
}

.main--heigth {
  height: 100%;
}

.main__text_error {
  font-size: 2em;
  font-weight: 400;
}

.main__icon-error {
  width: 80px;
}

.main__icon-loading {
  width: 80px;
  animation: spin 0.8s ease-in-out infinite;
  margin: 100px auto;
}

.main__animation {
  animation: down-to-up 0.8s ease-in-out forwards;
}

@keyframes down-to-up {
  0% {
    transform: translateY(+100%);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  display: flex;
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.596);
  padding: 1em;
}

.container__title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
}

.container__item-hour {
  text-transform: uppercase;
}

.container__item-hum {
  font-size: 0.8em;
  font-weight: 400;
  color: #ffffffd5;
}

.container__item-img {
  width: 50px;
  animation: gronw 0.4s ease-in-out forwards;
}

.container__item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.container__item-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.562);
}

.bl {
  border-left: 1px solid rgba(255, 255, 255, 0.562);
}

.container__item--flex {
  display: flex;
  justify-content: center;
}

.container__item--gapcol {
  gap: 0.5em 0;
}

.container__item--gap0 {
  gap: 0;
}

.container__item--days {
  font-size: 0.8em;
  gap: 0.5em;
  margin: 0.5em 0;
}

.container__daily {
  cursor: pointer;
  transition: all 0.5s ease;
}

.container__daily:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.144);
}

.container__daily-sel {
  border-bottom: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.144);
}

.container__icon {
  width: 30px;
  height: 30px;
  animation: gronw 0.4s ease-in-out forwards;
}

@keyframes gronw {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.container__icon-sm {
  width: 20px;
  height: 20px;
}

.container__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.61);
  padding: 0.5em 0;
}

.container__info--border {
  border: none;
}

.container__info-title {
  text-transform: capitalize;
  font-size: 0.9em;
  font-weight: 400;
}

.container__info-value {
  font-size: 0.9em;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  /* position: sticky;
  bottom: 0; */
  background-color: rgb(55, 187, 185);
}

.footer__text {
  font-size: 0.8em;
  font-weight: 600;
}

.footer__text--sm {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.712);
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer-refresh {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: all 0.5s ease;
}

.footer__icon {
  width: 18px;
}
.footer__icon--animation {
  animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
